#pnlLogin{
    width: 800px;
    min-height: 530px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
	.card{
		border-radius: 32px;
    	margin-bottom: 40px;   
	    width: 700px;
	    padding: 0px 50px;
		.card-header{
			font-size: 34px;
			font-weight: 700;
			text-align: center;
			line-height: 40px;
			background: #fff;
			border: none 0px;
			border-radius: 32px;
			margin-top: 34px;
	    	margin-bottom: 10px;
			padding: 0px;
		}
		.card-body{
			padding: 0px 1.25rem 60px;
			p{	
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;				
	    		text-align: center;
	    		color: #8F92A1;
	    		margin-bottom: 70px;
	    		a{
	    			font-weight: bold;
	    			color: #0052CC;
	    		}
			}
			.box{
				display: flex;
    			width: 100%;
    			border-bottom: solid 1px rgba(143, 146, 161, 0.1);
    			flex-direction: column;
    			align-items: flex-start;
    			.pnlFull{
    				display: flex;
    				flex-direction: row;
    				width: 100%;
    			}
    			span.label{
    				color: rgba(23, 23, 23, 0.6);
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;    			
    			}
    			.invalid-feedback{
    				color: #DE350B;
					font-weight: 500;
					display: flex;
					align-items: center;
					max-width: 50px;
					font-size: 14px;
					line-height: 24px;
					padding: 0px;
					margin: 0px;
    			}
    			.mat-icon{
    				margin-top: 7px;
    				color: #8F92A1;
    			}
		    	.form-control{    						
					border: none;
					border-radius: 0;
					font-weight:700;
					padding: 0.375rem 0rem;
    				width: 100%;
					input[type="textbox"]::-webkit-input-placeholder,
					input[type="password"]::-webkit-input-placeholder { /* Edge */
						color: #8F92A1;
						font-weight:700;
					}
					input[type="textbox"]:-ms-input-placeholder, 
					input[type="password"]:-ms-input-placeholder{ /* Internet Explorer 10-11 */
						color: #8F92A1;
						font-weight:700;
					}
					input[type="textbox"]::placeholder,
					input[type="password"]::placeholder {
						color: #8F92A1;
						font-weight:700;
					}
		    	}
		    }
			.btnLogin{
				width: 50%;
				background: #0052CC;
				border-radius: 25px;
				color: #fff;
				font-family: Roboto;
				font-size: 14px;
				font-style: normal;
				font-weight: normal;
				line-height: 20px;
				letter-spacing: 0px;
				text-align: center;
				padding: 9px;	
	    		margin-top: 55px;
			}
			.left{
				width: 50%;
				display: flex;
				input[type="checkbox"]{
					height: auto;
					width: auto;
					margin-right: 10px;
					margin-top: 1px;
				}
				span{
					font-size: 12px;
					line-height: 18px;
					color: #171717;
				}
			}
			.right{
				width: 50%;
				display: flex;    
				justify-content: flex-end;
				a{
					color: #0052CC;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}
	&.reset{
		.card{
			.card-body{
				p{
    				color: #727688;
				}

				.lnk{
					color: #0052CC;
					font-weight: 700;
					text-align: center;
					display: block;
					margin-top: 25px;
					margin-bottom: 15px;
				}
			} 
		} 
	}
}	

.TwoCols{
	display: flex;
    flex-direction: row;
    gap: 16px;
    .box{
		flex-direction: column;
		.label{
	    	display: flex;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 16px;
			padding-left: 0px;
			color: rgba(23, 23, 23, 0.6);
		}
    }
}