
#pnlViewHeaderWrap{ 
    display: flex;
    width: 100%;
    background-color: #fff;
    #pnlViewHeader{	
        display: flex;
        flex-direction: row;
        width: 1200px;
        margin: 0px auto;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100px;
        .imagePnl{
            display: flex;
            width: 600px;        
            margin: 58px 24px 38px 0;
            img{
                width:100%;
                max-width:600px;
                max-height:400px;
                border-radius: 20px;
            }
        }
        .contentPnl{
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            align-content: flex-start;
            justify-content: flex-start;
            align-items: flex-start;
            h1{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 37px;
                color: #17181C;
            }
            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.25px;
                color: #73788C;
                text-align: left;
            }
        }
    }
}

#pnlViewContent{	
    display: flex;
    width: 100%;
    background-color: #f9fafa;
    min-height: 100px;
    justify-content: center;
    .pnlProduct{
        max-width: 1160px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .pnlProductDetail{
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-top: 60px;
            h1{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 37px;
                color: #17181C;
            }
            p{
                display: flex;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.25px;
                color: #17181C;
                margin-bottom: 15px;
                svg{
                    display: flex;
                    margin-right: 15px;
                }
                span{
                    display: flex;
                }
            }
        }
        .pnlProductImage{
            display: flex;
            width: 448px;
            img{
                width: 100%;
                max-width: 448px;
                border-radius: 20px;
            }
        }
    }
}

#pnlViewModules{		
    max-width: 1160px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    .row{
        width: 320px;
        display: flex;
        gap: 60px;    
        align-content: flex-start;
        margin: 0px;
    }
    &.message{
        font-size: 20px;
        font-weight: bold;
        height: 200px;
        width: 100%;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        .row{
            align-content: center;
            align-items: center;
            justify-content: center;
        }
    }
    .module{	
    	width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
    	margin: 0px;
    	padding: 0px;
    	h2{
    		color: #000;
		    font-size: 24px;
		    font-weight: 600;
		    margin: 0px;
		    margin-bottom: 10px;
    	}
    	p{
    		color: #999;
    		font-size: 16px;
    		text-align: left;
    		margin-bottom: 20px;
    	}
    	a.btnLink, .btnLink{
    		display: flex;
		    color: #0052cc;
		    font-weight: bold;
		    font-size: 15px;
		    background-color: #e6eefa;
		    text-decoration: none;
		    width: 100%;
		    border-radius: 20px;
		    padding: 15px 10px;
		    align-content: center;
		    justify-content: center;            
            align-items: center;
		    cursor: pointer;
            border: 0px none;
            svg{
                margin-right: 20px;
            }
    	}
    }
}

.card{
    border-radius: 0px;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0 auto;
    .card-header{
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
        background: #fff;
        border: none 0px;
        border-radius: 32px;
        margin-top: 34px;
        margin-bottom: 10px;
        padding: 0px;
        width: 100%;
    }
    .card-body{
        padding: 0px;
        p{  
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;              
            text-align: center;
            color: #8F92A1;
            margin-bottom: 70px;
            a{
                font-weight: bold;
                color: #0052CC;
            }
        }
        h3{
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            margin: 0px;
        }
        .box{
            display: flex;
            width: 100%;
            border-bottom: none 0px rgba(143, 146, 161, 0.1);
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;
            &.noborder{
                border-bottom: none 0px rgba(143, 146, 161, 0.1);
                margin-top: 10px;
            }
            &.alignItem{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 0px none;
            }
            .pnlFull{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                .mat-form-field{
                    width: 100%;
                }
                &.bgColor{
                   background-color: #f9fafa;
                    border-radius: 8px;
                }
            }
            span.label{
                color: #73788C;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;  
                margin-bottom: 3px;            
            }
            .invalid-feedback{
                color: #DE350B;
                font-weight: 500;
                display: flex;
                align-items: center;
                max-width: 50px;
                font-size: 14px;
                line-height: 24px;
                padding: 0px;
                margin: 0px;
            }
            .mat-icon{
                margin-top: 7px;
                color: #8F92A1;
            }
            .form-control{                          
                border: none;
                border-radius: 8px;
                font-weight: 700;
                padding: 16px;
                width: 100%;
                background-color: #F9FAFA;
                &::-webkit-input-placeholder,
                &::-webkit-input-placeholder { /* Edge */
                    color: #8F92A1;
                    font-weight:700;
                }
                &:-ms-input-placeholder, 
                &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
                    color: #8F92A1;
                    font-weight:700;
                }
                &::placeholder,
                &::placeholder {
                    color: #8F92A1;
                    font-weight:700;
                }
            }
        }
    }
}

::ng-deep #containerWrapMain{
    background-color: #fff;
}

::ng-deep #containerWrap.view .container{
    align-content: center;
    grid-gap: 0px;
    gap: 0px;
    margin: 0px;
    padding: 0px;
}

::ng-deep .mat-form-field-wrapper{
    padding: 0px;
}

::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 5px 5px 5px 0px;
    background: #f9fafa;
    border-radius: 8px;
    align-items: center;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
    padding: 0px;
    border: 0px;
}

::ng-deep .mat-form-field-underline{
    display: none;
}

#footerWrap{
    width: 100%;
    padding: 40px 0 30px;
    display: flex;
    justify-content: center;
    background-color: #454854;
}

#footerWrap #footer{
    width: 100%;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

#footerWrap #footer p{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

#footerWrap #footer .footerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (min-width: 0px) and (max-width : 768px) {
    #pnlViewHeaderWrap{
        #pnlViewHeader{
            flex-direction: column;
            .imagePnl{
                width: 100%;
                margin: 0px;
                img{
                    width: 100%;
                    max-width: none;
                    max-height: none;
                    border-radius: 0px;
                }
            }
            .contentPnl{
                margin: 0px;
                padding: 24px;
            }
        }
    }
        
    #pnlViewContent{
        .pnlProduct{
            width: 100%;
            flex-direction: column;
            padding: 40px 20px;
            .pnlProductDetail{
                padding: 0px;
            }
            .pnlProductImage{
                    width: 100%;
            }
        }
    } 
    #pnlViewModules{
        width: 100%;
        padding: 24px;
        gap: 60px;
        .row{
            width: 100%;
            margin: 0px;
        }
    } 
}

    /* Extra Small Devices, Phones */ 
@media only screen and (min-width: 320px) and (max-width : 480px) {
   
}

    /* Small Devices, Tablets */
@media only screen and (min-width: 480px) and (max-width : 768px) {
    
}