<div id="containerWrap">
    <div class="headerWrap">
        <div id="header">
            <app-header-secure></app-header-secure>
        </div>
    </div>
    <!-- main app container -->
    <div class="container">    	
	    <h4>Bulk Campaign Store(s) Upload (<span>Campaign: {{campaignName}}</span>)</h4>
    	<div id="pnlPasses">
	        <form [formGroup]="bulkUploadForm">
	        	<div class="form-group">
	        		<p>Upload CVS file for campaign store bulk upload (<a (click)="download()">click here</a> &nbsp;for .xlsx file format and save as .csv file for upload)</p>	
	        		<a class="btnBack" title="Back to Manage Campaign Stores" (click)="goto()">	
			           Back to Campaign Stores
			        </a>
	        	</div>
	        	<div class="pnlImage">
    				<div class="text">
	    				<div ng2FileDrop
						        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
						        (fileOver)="fileOverBase($event)"
						        [uploader]="uploader"
						        class="well my-drop-zone">
						        Drag and drop or&nbsp;<input type="file" #csvReader ng2FileSelect [uploader]="uploader" accept=".csv"/> to upload.

			    				<div class="image">
									<div class="pnlLoader" *ngIf="isFileProgress">
										<span class="loading"></span>
									</div>
			    				</div>
						</div>
    				</div>
    			</div>   
    			<div class="pnlImage" style="justify-content: center;"> 			
	                <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
	                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>                
    			</div>   
                <div class="pnlPasses" *ngIf="campaignStores.length > 0">  
                	<h3>Campaign Store Data Preview </h3>              	
		    		<div class="pass header">
		    			<div class="name" [class.active]="order === 'StoreId'" (click)="setOrder('StoreId')" title="Sort By Store Id">
		                    Store Id
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
		                </div>
		    			<div class="type" [class.active]="order === 'Module1'" (click)="setOrder('Module1')" title="Sort By Purchase Link">
		                    Shop Online
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>                    
		                </div>
		                <div class="type" [class.active]="order === 'Module2'" (click)="setOrder('Module2')" title="Sort By View Sale">
		                    Contact Form
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'Module3'" (click)="setOrder('Module3')" title="Sort By Download a offer">
		                    Download a offer
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'Module4'" (click)="setOrder('Module4')" title="Sort By Location Directions">
		                    Location Directions
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'Module5'" (click)="setOrder('Module5')" title="Sort By Book Appointment">
		                    Book Appointment
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'Module6'" (click)="setOrder('Module6')" title="Sort By Open an account">
		                    Open an account
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'Module7'" (click)="setOrder('Module7')" title="Sort By Signup for an event">
		                    Signup for an event
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'Module8'" (click)="setOrder('Module8')" title="Sort By Content Block">
		                    Content Block
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="button">
		                	<button class="btn btn-primary btnUpload" title="Upload" (click)="onUpload()">
			                    <span *ngIf="!loading && submitted" class="spinner-border spinner-border-sm mr-1"></span>
			                    Upload
			                </button>
		                </div>
		    		</div>
		    		<div id="pnlData">
			    		<div class="pass"  *ngFor="let store of campaignStores | orderBy: order : reverse; let i = index" [attr.data-index]="i">
			        		<div class="name">{{store.StoreId}}</div>  
			        		<div class="type">{{(store.Module1 != '')?'Y':'N'}}</div>	     
			        		<div class="type">{{(store.Module2 != '')?'Y':'N'}}</div>	    	     
			        		<div class="type">{{(store.Module3 != '')?'Y':'N'}}</div>	    
			        		<div class="type">{{(store.Module4 != '')?'Y':'N'}}</div>
			        		<div class="type">{{(store.Module5 != '')?'Y':'N'}}</div>	    
			        		<div class="type">{{(store.Module6 != '')?'Y':'N'}}</div>	     
			        		<div class="type">{{(store.Module7 != '')?'Y':'N'}}</div> 	     
			        		<div class="type">{{(store.Module8 != '')?'Y':'N'}}</div> 
			    		</div>
		    		</div>
                </div>
                <div class="pnlPasses" *ngIf="invalidCampaignStores.length > 0">  
                	<h3>Invalid Stores</h3>              	
		    		<div class="pass header">
		    			<div class="name" [class.active]="order === 'storeId'" (click)="setOrder('storeId')" title="Sort By Store Id">
		                    Store Id
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
		                </div>
		    			<div class="name" [class.active]="order === 'uniqueUrl'" (click)="setOrder('uniqueUrl')" title="Sort By UniqueUrl">
		                    Unique Url
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
		                </div>
		    			<div class="type" [class.active]="order === 'module1'" (click)="setOrder('module1')" title="Sort By Purchase Link">
		                    Shop Online
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>                    
		                </div>
		                <div class="type" [class.active]="order === 'module2'" (click)="setOrder('module2')" title="Sort By View Sale">
		                    Contact Form
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module3'" (click)="setOrder('module3')" title="Sort By Download a offer">
		                    Download a offer
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module4'" (click)="setOrder('module4')" title="Sort By Location Directions">
		                    Location Directions
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module5'" (click)="setOrder('module5')" title="Sort By Book Appointment">
		                    Book Appointment
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module6'" (click)="setOrder('module6')" title="Sort By Open an account">
		                    Open an account
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module7'" (click)="setOrder('module7')" title="Sort By Signup for an event">
		                    Signup for an event
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module8'" (click)="setOrder('module8')" title="Sort By Content Block">
		                    Content Block
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		    		</div>
		    		<div id="pnlData">
			    		<div class="pass"  *ngFor="let store of invalidCampaignStores | orderBy: order : reverse; let i = index" [attr.data-index]="i">
			        		<div class="name">{{store.storeId}}</div>
			        		<div class="name"><a href="{{store.uniqueUrl}}" target="_blank">{{store.uniqueUrl}}</a></div>   
			        		<div class="type">{{(store.module1 != '')?'Y':'N'}}</div>	     
			        		<div class="type">{{(store.module2 != '')?'Y':'N'}}</div>	    	     
			        		<div class="type">{{(store.module3 != '')?'Y':'N'}}</div>	    
			        		<div class="type">{{(store.module4 != '')?'Y':'N'}}</div>
			        		<div class="type">{{(store.module5 != '')?'Y':'N'}}</div>	    
			        		<div class="type">{{(store.module6 != '')?'Y':'N'}}</div>	     
			        		<div class="type">{{(store.module7 != '')?'Y':'N'}}</div> 	     
			        		<div class="type">{{(store.module8 != '')?'Y':'N'}}</div> 
			    		</div>
		    		</div>
                </div>
                <div class="pnlPasses" *ngIf="validCampaignStores.length > 0">  
                	<h3>Campaign Stores</h3>              	
		    		<div class="pass header">
		    			<div class="name" [class.active]="order === 'storeId'" (click)="setOrder('storeId')" title="Sort By Store Id">
		                    Store Id
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
		                </div>
		    			<div class="name" [class.active]="order === 'uniqueUrl'" (click)="setOrder('uniqueUrl')" title="Sort By UniqueUrl">
		                    Unique Url
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
		                </div>
		    			<div class="type" [class.active]="order === 'module1'" (click)="setOrder('module1')" title="Sort By Purchase Link">
		                    Shop Online
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>                    
		                </div>
		                <div class="type" [class.active]="order === 'module2'" (click)="setOrder('module2')" title="Sort By View Sale">
		                    Contact Form
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module3'" (click)="setOrder('module3')" title="Sort By Download a offer">
		                    Download a offer
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module4'" (click)="setOrder('module4')" title="Sort By Location Directions">
		                    Location Directions
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module5'" (click)="setOrder('module5')" title="Sort By Book Appointment">
		                    Book Appointment
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module6'" (click)="setOrder('module6')" title="Sort By Open an account">
		                    Open an account
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module7'" (click)="setOrder('module7')" title="Sort By Signup for an event">
		                    Signup for an event
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'module8'" (click)="setOrder('module8')" title="Sort By Content Block">
		                    Content Block
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		    		</div>
		    		<div id="pnlData">
			    		<div class="pass"  *ngFor="let store of validCampaignStores | orderBy: order : reverse; let i = index" [attr.data-index]="i">
			        		<div class="name">{{store.storeId}}</div>
			        		<div class="name"><a href="{{store.uniqueUrl}}" target="_blank">{{store.uniqueUrl}}</a></div>  
			        		<div class="type">{{(store.module1 != '')?'Y':'N'}}</div>	     
			        		<div class="type">{{(store.module2 != '')?'Y':'N'}}</div>	    	     
			        		<div class="type">{{(store.module3 != '')?'Y':'N'}}</div>	    
			        		<div class="type">{{(store.module4 != '')?'Y':'N'}}</div>
			        		<div class="type">{{(store.module5 != '')?'Y':'N'}}</div>	    
			        		<div class="type">{{(store.module6 != '')?'Y':'N'}}</div>	     
			        		<div class="type">{{(store.module7 != '')?'Y':'N'}}</div> 	     
			        		<div class="type">{{(store.module8 != '')?'Y':'N'}}</div> 
			    		</div>
		    		</div>
                </div>
    		</form>
    	</div>
    </div>
    <app-footer></app-footer>
</div>