<div id="containerWrap">
    <div class="headerWrap">
        <div id="header">
            <app-header-secure></app-header-secure>
        </div>
    </div>
    <!-- main app container -->
    <div class="container">    	
	    <h4>Bulk Upload ({{storeName}})</h4>
    	<div id="pnlPasses">
	        <form [formGroup]="bulkUploadForm" (ngSubmit)="onSubmit()">
	        	<div class="form-group">
	        		<p>Upload CVS file for store bulk upload (<a href="store-template.csv" target="_blank">click here</a> for .csv file format)</p>	
	        	</div>
	        	<div class="pnlImage">
    				<div class="text">
	    				<div ng2FileDrop
						        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
						        (fileOver)="fileOverBase($event)"
						        [uploader]="uploader"
						        class="well my-drop-zone">
						        Drag and drop or&nbsp;<input type="file" #csvReader ng2FileSelect [uploader]="uploader" accept=".csv"/> to upload.

			    				<div class="image">
									<div class="pnlLoader" *ngIf="isFileProgress">
										<span class="loading"></span>
									</div>
			    				</div>
						</div>
    				</div>
    			</div>
    			<button class="btn btn-primary btnUpload" title="Upload" style="display:none;">
                    <span *ngIf="!loading && submitted" class="spinner-border spinner-border-sm mr-1"></span>
                    Upload
                </button>
                <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div class="pnlPasses" *ngIf="records.length > 0">  
                	<h3>Data Preview</h3>              	
		    		<div class="pass header">
		                <div class="logo">
		                    Image
		                </div>
		    			<div class="logo" [class.active]="order === 'id'" (click)="setOrder('id')" title="Sort By Id">
		                    Id
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
		                </div>
		    			<div class="name" [class.active]="order === 'firstName'" (click)="setOrder('firstName')" title="Sort By FirstName">
		                    FirstName
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>                    
		                </div>
		                <div class="name" [class.active]="order === 'lastName'" (click)="setOrder('lastName')" title="Sort By lastName">
		                    LastName
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'since'" (click)="setOrder('since')" title="Sort By Member Since">
		                    Member Since
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'tier'" (click)="setOrder('tier')" title="Sort By Tier">
		                    Tier
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'mobile'" (click)="setOrder('mobile')" title="Sort By Mobile">
		                    Mobile
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		                <div class="type" [class.active]="order === 'email'" (click)="setOrder('email')" title="Sort By Email">
		                    Email
		                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>   
		                </div>
		    		</div>
		    		<div id="pnlData">
			    		<div class="pass"  *ngFor="let template of records | orderBy: order : reverse; let i = index" [attr.data-index]="i">
			                <div class="viewPanel">
        						<div class="logo"><img src={{template.imageUrl}} alt="" /></div>
			        			<div class="logo">{{template.id}}</div>
			        			<div class="name">{{template.firstName}}</div>
			        			<div class="name">{{template.lastName}}</div>
			        			<div class="type">{{template.since}}</div>	    
			        			<div class="type">{{template.tier}}</div>	     
			        			<div class="type">{{template.mobile}}</div>	     
			        			<div class="type">{{template.email}}</div>	                     
			                </div>  
			    		</div>
		    		</div>
                </div>
    		</form>
    	</div>
    </div>
    <app-footer></app-footer>
</div>